{% extends "base.html"%}
{% block content%}

	<div class="content_wrapper">
		<div class="container-fluid">

<!--------------------------------------------- Title  --------------------------------------------------------------------------------->
			<div class="page-heading">
				<div class="row d-flex align-items-center">
					<div class="col-12">
						<div class="page-breadcrumb alig">
							<h1 align="center">Configuracion</h1>
						</div>

							<div class="card-body">
								<ul class="nav nav-tabs nav-fill mb-4" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#tab-j_1"> usuario</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#tab-j_2"> Arquetipo</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#tab-j_3"> Contraseña</a>
									</li>

								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="tab-j_1" role="tabpanel">
										<form method="POST">
											<div class="form-group">
												<label for="nombre"> Nombre</label>
												<input type="text" class="form-control" name="nombre" value="{{session['nombre']}}" required>
											</div>
											<div class="form-group">
												<label for="Apellido_P"> Apellido Paterno</label>
												<input type="text" class="form-control" name="apellido_p"  value="{{session['apellido_p']}}" required>
											</div>
											<div class="form-group">
												<label for="Apellido_P"> Apellido Materno</label>
												<input type="text" class="form-control" name="apellido_m"  value="{{session['apellido_m']}}" required>
											</div>

											<button type="submit" class="btn btn-primary">guardar</button>
										</form>
									</div>
									<div class="tab-pane" id="tab-j_2" role="tabpanel">
										<form method="POST">
											<div class="form-group">
												<label for="arquetipo">	Arquetipo actual: <b> {{session["arquetipo"]}} </b>
												</label>
												<span class="select-wrapper">
													<select class="form-control form-control-square" name="arquetipo">
														<option value="Adulto">Adulto</option>
														<option value="Niño">Niño</option>
													</select>
												</span>
											</div>

											<button type="submit" class="btn btn-primary">Cambiar</button>
										</form>
									</div>
									<div class="tab-pane" id="tab-j_3" role="tabpanel">
										<form method="POST">
											<div class="form-group">
												<label for="Viejacontraseña"> Antigua contraseña</label>
												<input type="password" class="form-control" name="contraseña" required>
											</div>
											<div class="form-group">
												<label for="nuevaContraseña"> Nueva Contraseña</label>
												<input type="password" class="form-control" name="contraseña2" required>
											</div>
											<div class="form-group">
												<label for="NuevaContraseña2"> Repetir Nueva Contraseña</label>
												<input type="password" class="form-control" name="contraseña3" required>
											</div>

											<button type="submit" class="btn btn-primary">guardar</button>
										</form>

								</div>
							</div>
						</div>
					</div>


					</div>
				</div>
			</div>

	

<!--------------------------------------------- End Title  --------------------------------------------------------------------------------->

			<div class="row">

<!--------------------------------------------- Agregar Grupo ---------------------------------------------------------->

					<div class=" col-12">

					</div>
<!--------------------------------------------- End Agregar Grupo ---------------------------------------------------------->

			</div>

		</div>
	</div>


{% endblock %}

	