{% extends "base.html"%}
{% block content%}

	<div class="content_wrapper">
		<div class="container-fluid">

<!--------------------------------------------- Title  --------------------------------------------------------------------------------->
			<div class="page-heading">
				<div class="row d-flex align-items-center">
					<div class="col-12">
						<div class="page-breadcrumb alig">
							<h1 align="center">Grupo {{session["idGrupo"]}}</h1>
						</div>
					</div>
				</div>
			</div>

<!--------------------------------------------- End Title  --------------------------------------------------------------------------------->

			<div class="row">

<!--------------------------------------------- tips  ---------------------------------------------------------->

<!--------------------------------------------- End tips  ---------------------------------------------------------->

			</div>

		</div>
	</div>


{% endblock %}

	